/*=========================
	All css
==========================*/
/* @import url("../vendors/materialize/css/materialize.min.css"); */
@import url("../vendors/jquery-datatable/dataTables.bootstrap4.min.css");
@import url("../vendors/bootstrap/css/bootstrap.min.css");
@import url("../vendors/fontawesome/css/fontawesome.min.css");
@import url("../vendors/fontawesome/css/all.min.css");
@import url("../vendors/fontawesome/css/fontawesome.min.css");
@import url("../vendors/themify/themify-icons.css");
@import url("../vendors/datepicker/css/bootstrap-datepicker.min.css");
@import url("../vendors/bootstrap-select/dist/css/bootstrap-select.min.css");
@import url("../vendors/select2/dist/css/select2.min.css");
@import url("../vendors/scroll/css/OverlayScrollbars.css");
@import url("../vendors/switcher/switcher.css");
/*=========================
	All css
==========================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,300,400,500,700,900|Rubik:300,400,500,700,900');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
*/
